{
  "extends": [
    "react-app",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/recommended",
    "plugin:testing-library/react",
    "plugin:prettier/recommended",
    "eslint-config-prettier/@typescript-eslint"
  ],
  "rules": {
    "additional-typescript-only-rule": "off",
    "additional-rule": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off"
  }
}
